body{
    background-color: rgba(128, 128, 128, 0.424);
}
header{
    background-color: #3a0d5f;
    color: aliceblue;
}
.container{
    overflow: hidden;
}
.h2{
    position: relative;
    left: 20px;
    top: 5px;
}
.h2:hover{
    cursor: none
}

li a{
    font-size: 1.1rem;
    font-family: "Fira Sans", sans-serif;
}
li a:hover{
    color: rgb(255, 255, 255);
}
li:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
  }
  li:hover:after {
    width: 100%;
    background: blue;
  }
    
.hov{
    transition: 0.2s ease;
}
.hov:hover{
    transform: scale(1.1);
    
}
.title{
    color: rgb(24, 69, 110);
}
